.jumbo {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -40%);
  
}


.seven, .six {
    background-color: #1F1F1F;
    color: #fff;
}

.eight, .eleven, .fourteen, .twelve, .five, .nine, .two {
    text-align: center;
}

h4, h3 {
    color: #777777;
}

h5, h2, p {
    color: #fff;
}

h2 {
    font-size: 2em;
}

footer {
    background-color: rgb(0, 67, 155);
    color: #fff;
}

.text-footer, .black-nav {
    text-align: end;
}

.black-nav {
    text-align: end;
    background-color: black;
}

.thirteen {
    background-color: #161C3B;
}

.text {
    text-transform: uppercase;
    color: #0070D1;
}


