.jumbo {
    background-image: url("img/.jumbo-bg.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -40%);
  
}


.card {
    border: solid #418DD8 2px;
    border-radius: 20px;
    background-image: url("img/tony-hawks-pro-skater-1-2-store-art.jpg");
}

.seven {
    background-color: #1F1F1F;
    color: #fff;
}

.eight, .eleven, .fourteen, .twelve, .five, .nine {
    text-align: center;
}


h5, h4, h3 {
    color: #777777;
}